Repository elidholm/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: README, Role, Requirements, License, Setup, Variables, Actions

.github/labeler.yml:

---
README:
  - changed-files:
      - any-glob-to-any-file: README.md

Role:
  - changed-files:
      - any-glob-to-any-file: roles/**

Requirements:
  - changed-files:
      - any-glob-to-any-file: requirements/**

License:
  - changed-files:
      - any-glob-to-any-file: LICENSE

Setup:
  - changed-files:
      - any-glob-to-any-file: bin/**

Variables:
  - changed-files:
      - any-glob-to-any-file: group_vars/**

Actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

feat: add dependabot updates for gh-actions
  .github/dependabot.yml
Labels: Actions

fix(ci): fetch all git history for GitLeaks to work properly
  .github/workflows/security.yml
Labels: Actions

fix: remove dry run capability for playbook execution
  bin/dotfiles
Labels: Setup

chore(ci): disable pipeline execution on pushong to master
  .github/workflows/linting.yml
  .github/workflows/security.yml
Labels: Actions

Rename nvim config directory
  roles/neovim/files/init.lua
  roles/neovim/files/lua/config/init.lua
  roles/neovim/files/lua/config/packer.lua
  roles/neovim/files/lua/config/remap.lua
  roles/neovim/files/lua/config/set.lua
Labels: Role

Setup LazyVim initialization
  roles/neovim/files/after/ftplugin/css.vim
  roles/neovim/files/after/ftplugin/html.vim
  roles/neovim/files/after/ftplugin/javascript.vim
  roles/neovim/files/after/ftplugin/python.vim
  roles/neovim/files/after/ftplugin/sh.vim
  roles/neovim/files/after/plugin/cloak.lua
  roles/neovim/files/after/plugin/colors.lua
  roles/neovim/files/after/plugin/fugitive.lua
  roles/neovim/files/after/plugin/harpoon.lua
  roles/neovim/files/after/plugin/lsp.lua
  roles/neovim/files/after/plugin/telescope.lua
  roles/neovim/files/after/plugin/treesitter.lua
  roles/neovim/files/after/plugin/trouble.lua
  roles/neovim/files/after/plugin/undotree.lua
  roles/neovim/files/after/plugin/zenmode.lua
  roles/neovim/files/lazy-lock.json
  roles/neovim/files/lua/config/init.lua
  roles/neovim/files/lua/config/lazy/colors.lua
  roles/neovim/files/lua/config/lazy_init.lua
  roles/neovim/files/lua/config/packer.lua
  roles/neovim/files/lua/config/remap.lua
Labels: Role

Add 'cloak' plugin for masking secrets
  roles/neovim/files/lua/config/lazy/cloak.lua
Labels: Role

Add 'telescope' and 'treesitter' plugins
  roles/neovim/files/lazy-lock.json
  roles/neovim/files/lua/config/lazy/colors.lua
  roles/neovim/files/lua/config/lazy/telescope.lua
  roles/neovim/files/lua/config/lazy/treesitter.lua
Labels: Role

Add 'harpoon' and 'undotree' neovim plugins
  roles/neovim/files/lazy-lock.json
  roles/neovim/files/lua/config/init.lua
  roles/neovim/files/lua/config/lazy/harpoon.lua
  roles/neovim/files/lua/config/lazy/undotree.lua
Labels: Role

Add 'autopairs' and 'lazygit' Neovim plugins
  roles/neovim/files/lazy-lock.json
  roles/neovim/files/lua/config/lazy/autopairs.lua
  roles/neovim/files/lua/config/lazy/colors.lua
  roles/neovim/files/lua/config/lazy/lazygit.lua
Labels: Role

Add lsp support and top-level lazy loading of plugins
  roles/neovim/files/lazy-lock.json
  roles/neovim/files/lua/config/lazy/init.lua
  roles/neovim/files/lua/config/lazy/lsp.lua
Labels: Role

remove LSP server logging
  roles/neovim/files/lua/config/lazy/lsp.lua
  roles/neovim/files/lua/config/lazy_init.lua
Labels: Role

chore: remove pyenv role
  roles/pyenv/handlers/main.yml
  roles/pyenv/tasks/main.yml
  roles/pyenv/tasks/ubuntu.yml
Labels: Role

fix: optional work configuration
  main.yml
Labels: none

fix: resolve various health check warnings
  roles/bash/files/.bashrc
  roles/bash/files/bash/path_vars.sh
  roles/neovim/files/lazy-lock.json
  roles/neovim/files/lua/config/lazy/lsp.lua
Labels: Role

feat: add folke/trouble.nvim plugin
  roles/neovim/files/lazy-lock.json
  roles/neovim/files/lua/config/lazy/lsp.lua
  roles/neovim/files/lua/config/lazy/trouble.lua
Labels: Role

feat: add global Python linting config
  roles/python/files/pycodestyle
  roles/python/tasks/main.yml
Labels: Role

fix: ignore spaces before ':' in Python linting
  roles/python/files/pycodestyle
Labels: Role

chore: update jvm from 11 to 17
  .gitignore
  roles/bash/files/.bash_profile
Labels: Role

chore: update lazy lockfiles
  roles/neovim/files/lazy-lock.json
Labels: Role

chore: update lazy lockfiles
  roles/neovim/files/lazy-lock.json
Labels: Role

refact(nvim): move mapleader option to top init file
  roles/neovim/files/init.lua
  roles/neovim/files/lua/config/remap.lua
Labels: Role

refact(nvim): apply subset of kickstart.nvim options
  roles/neovim/files/lua/config/set.lua
Labels: Role

refact(nvim): full migration from lazy->kickstart
  roles/neovim/files/init.lua
  roles/neovim/files/lazy-lock.json
  roles/neovim/files/lua/config/init.lua
  roles/neovim/files/lua/config/lazy/autopairs.lua
  roles/neovim/files/lua/config/lazy/cloak.lua
  roles/neovim/files/lua/config/lazy/colors.lua
  roles/neovim/files/lua/config/lazy/harpoon.lua
  roles/neovim/files/lua/config/lazy/init.lua
  roles/neovim/files/lua/config/lazy/lazygit.lua
  roles/neovim/files/lua/config/lazy/lsp.lua
  roles/neovim/files/lua/config/lazy/telescope.lua
  roles/neovim/files/lua/config/lazy/treesitter.lua
  roles/neovim/files/lua/config/lazy/trouble.lua
  roles/neovim/files/lua/config/lazy/undotree.lua
  roles/neovim/files/lua/config/lazy_init.lua
  roles/neovim/files/lua/config/remap.lua
  roles/neovim/files/lua/config/set.lua
  roles/neovim/files/lua/kickstart/plugins/gitsigns.lua
  roles/neovim/files/nvim-pack-lock.json
Labels: Role

fix(nvim): remove faulty tree-sitter highlighting
  roles/btop/files/btop.conf
  roles/neovim/files/init.lua
  roles/neovim/files/nvim-pack-lock.json
Labels: Role

fix(nvim): Correctly install nvim-treesitter
  roles/neovim/files/init.lua
  roles/neovim/files/nvim-pack-lock.json
Labels: Role

refact(nvim): rename plugin config directory
  roles/neovim/files/init.lua
  roles/neovim/files/lua/extra/plugins/gitsigns.lua
Labels: Role

feat(nvim): add directories for specific plugins and config
  README.md
  roles/neovim/files/init.lua
  roles/neovim/files/lua/extra/config/autocmd.lua
  roles/neovim/files/lua/extra/config/globals.lua
  roles/neovim/files/lua/extra/config/mappings.lua
  roles/neovim/files/lua/extra/config/options.lua
  roles/neovim/files/lua/extra/config/work.lua
  roles/neovim/files/lua/extra/plugins/colorscheme.lua
  roles/neovim/files/lua/extra/plugins/conform.lua
  roles/neovim/files/lua/extra/plugins/gitsigns.lua
  roles/neovim/files/lua/extra/plugins/harpoon.lua
  roles/neovim/files/lua/extra/plugins/lint.lua
  roles/neovim/files/lua/extra/plugins/mini.lua
  roles/neovim/files/lua/extra/plugins/render-markdown.lua
  roles/neovim/files/lua/extra/plugins/telescope.lua
  roles/neovim/files/lua/extra/plugins/treesitter.lua
  roles/neovim/files/nvim-pack-lock.json
Labels: README, Role

feat(nvim): add autoformatting for rust files
  roles/neovim/files/lua/extra/plugins/conform.lua
Labels: Role

chore(nvim): update neovim plugins
  roles/neovim/files/nvim-pack-lock.json
Labels: Role

feat(ai): add copilot agent instructions file
  .github/copilot-instructions.md
  .markdownlint.yml
Labels: Actions

feat(ai): add LLM agent skills role
  .github/copilot-instructions.md
  group_vars/all.yml
  roles/skills/files/python-docstrings/SKILL.md
  roles/skills/files/python-testing/SKILL.md
  roles/skills/meta/main.yml
  roles/skills/tasks/main.yml
Labels: Role, Variables, Actions

feat(ai): add LLM agent skills role
  .github/copilot-instructions.md
  group_vars/all.yml
  roles/skills/files/python-docstrings/SKILL.md
  roles/skills/files/python-testing/SKILL.md
  roles/skills/meta/main.yml
  roles/skills/tasks/main.yml
Labels: Role, Variables, Actions

feat(neovim): use apt for neovim instead of snap
  group_vars/all.yml
  roles/neovim/tasks/main.yml
  roles/neovim/tasks/ubuntu.yml
Labels: Role, Variables

chore(autojump): clean up role
  roles/autojump/tasks/ubuntu.yml
  roles/system/tasks/ubuntu.yml
Labels: Role

chore(brave): clean up role
  roles/brave/tasks/ubuntu.yml
Labels: Role

chore(bat): clean up role
  roles/bat/tasks/main.yml
Labels: Role

chore(bash): clean up role
  roles/bash/tasks/main.yml
Labels: Role

chore(docker): clean up role
  roles/docker/tasks/ubuntu.yml
Labels: Role

chore(fonts): clean up role
  roles/fonts/tasks/main.yml
Labels: Role
