Repository elidholm/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: README, Role, Requirements, License, Setup, Variables, Actions

feat: Add Thorium browser role
  group_vars/all.yml
  roles/thorium/tasks/main.yml
  roles/thorium/tasks/ubuntu.yml
Labels: Role, Variables

fix: ansible lint in Thorium role
  roles/thorium/tasks/ubuntu.yml
Labels: Role

refact: only update thorium source if it changes
  roles/thorium/tasks/ubuntu.yml
Labels: Role

feat: add dependencies to system role
  group_vars/all.yml
  roles/alacritty/meta/main.yml
  roles/autojump/meta/main.yml
  roles/bash/meta/main.yml
  roles/bat/meta/main.yml
  roles/btop/files/btop.conf
  roles/btop/meta/main.yml
  roles/cron/meta/main.yml
  roles/cron/tasks/main.yml
  roles/cron/tasks/ubuntu.yml
  roles/docker/meta/main.yml
  roles/flatpak/meta/main.yml
  roles/fonts/meta/main.yml
  roles/fzf/meta/main.yml
  roles/git/meta/main.yml
  roles/github_cli/meta/main.yml
  roles/lazygit/meta/main.yml
  roles/logs/meta/main.yml
  roles/logs/tasks/main.yml
  roles/logs/tasks/ubuntu.yml
  roles/lua/meta/main.yml
  roles/neofetch/meta/main.yml
  roles/neovim/meta/main.yml
  roles/npm/meta/main.yml
  roles/nvm/meta/main.yml
  roles/python/meta/main.yml
  roles/ripgrep/meta/main.yml
  roles/ruby/meta/main.yml
  roles/rust/meta/main.yml
  roles/scripts/meta/main.yml
  roles/spotify/meta/main.yml
  roles/ssh/meta/main.yml
  roles/sshfs/meta/main.yml
  roles/starship/meta/main.yml
  roles/thorium/meta/main.yml
  roles/tldr/meta/main.yml
  roles/tmux/meta/main.yml
  roles/zoxide/meta/main.yml
Labels: Role, Variables

fix: add file permission to 'update' logrotate
  roles/logs/tasks/ubuntu.yml
Labels: Role

fix: correct python argcomplete command
  bin/dotfiles
Labels: Setup

refactor: rework bash role
  .gitignore
  roles/bash/files/.bashrc
  roles/bash/tasks/ubuntu.yml
Labels: Role

fix: ansible format correction
  roles/bash/tasks/ubuntu.yml
Labels: Role

fix: check for any installation of ansible
  bin/dotfiles
Labels: Setup

feat: create search to nvim alias
  roles/bash/files/bash/neovim_aliases.sh
  roles/system/tasks/ubuntu.yml
Labels: Role

feat: add path cleanup function
  roles/bash/files/.bash_profile
  roles/bash/files/.bashrc
  roles/bash/files/.inputrc
  roles/bash/files/bash/path_functions.sh
Labels: Role

fic: updates to tmuxconf and inputrc among other things
  bin/dotfiles
  roles/bash/files/.inputrc
  roles/neovim/files/after/plugin/harpoon.lua
  roles/neovim/files/lua/edvin/remap.lua
  roles/tmux/files/.tmux.conf
Labels: Role, Setup

feat: add remaps for quoting/unquoting quickly
  roles/neovim/files/lua/edvin/remap.lua
Labels: Role

feat: add gh container repo token
  group_vars/all.yml
  roles/system/tasks/ubuntu.yml
Labels: Role, Variables

fix: remove ignore_errors for system role
  roles/system/tasks/ubuntu.yml
Labels: Role

fix
  group_vars/all.yml
  roles/bash/files/.bashrc
  roles/neovim/files/after/plugin/treesitter.lua
  roles/neovim/files/lua/edvin/remap.lua
  roles/starship/handlers/main.yml
  roles/system/tasks/ubuntu.yml
  roles/tmux/files/.tmux.conf
Labels: Role, Variables

temp commit
  roles/bash/files/.bash_profile
  roles/bash/files/.bashrc
  roles/fonts/files/fonts.conf
Labels: Role

fix work env
  .github/workflows/linting.yml
  roles/bash/files/.bash_profile
  roles/system/tasks/ubuntu.yml
Labels: Role, Actions

feat: add git rename alias
  roles/git/tasks/ubuntu.yml
Labels: Role

feat: version bump for checkout action
  .github/workflows/security.yml
Labels: Actions

fix: Correct ansible variable names
  roles/alacritty/tasks/ubuntu.yml
  roles/bash/tasks/ubuntu.yml
  roles/bat/tasks/ubuntu.yml
  roles/docker/tasks/ubuntu.yml
  roles/fonts/tasks/ubuntu.yml
  roles/github_cli/tasks/ubuntu.yml
  roles/lazygit/tasks/ubuntu.yml
  roles/lua/tasks/ubuntu.yml
  roles/npm/tasks/ubuntu.yml
  roles/starship/tasks/ubuntu.yml
  roles/system/tasks/ubuntu.yml
  roles/tldr/tasks/ubuntu.yml
Labels: Role

Add alias for sb-cli script
  roles/bash/files/bash/misc_aliases.sh
Labels: Role

Add catpuccin mocha theme to Alacritty
  roles/alacritty/files/alacritty.toml
  roles/alacritty/files/catppuccin-mocha.toml
  roles/alacritty/tasks/ubuntu.yml
  roles/bash/files/.bashrc
Labels: Role

Add catppuccin mocha theme to Starship prompt
  roles/starship/files/starship.toml
Labels: Role

Add catppuccin mocha theme to tmux
  roles/tmux/files/.tmux.conf
Labels: Role

Add catppuccin mocha theme to Neovim
  roles/neovim/files/after/plugin/colors.lua
  roles/neovim/files/lua/edvin/packer.lua
Labels: Role

Revamp tmux status bar
  roles/tmux/files/.tmux.conf
Labels: Role

Change to Macchiato Catppuccin theme
  roles/alacritty/files/alacritty.toml
  roles/alacritty/files/catppuccin-macchiato.toml
  roles/alacritty/tasks/ubuntu.yml
  roles/starship/files/starship.toml
  roles/tmux/files/.tmux.conf
Labels: Role

chore: update deprecated syntax
  roles/neovim/files/after/plugin/lsp.lua
  roles/neovim/files/lua/edvin/init.lua
Labels: Role

Add Brave browser role
  group_vars/all.yml
  roles/brave/meta/main.yml
  roles/brave/tasks/main.yml
  roles/brave/tasks/ubuntu.yml
  roles/thorium/tasks/ubuntu.yml
  roles/tmux/files/.tmux.conf
Labels: Role, Variables

Remove spotify and alacritty roles
  group_vars/all.yml
  roles/alacritty/files/alacritty.toml
  roles/alacritty/files/catppuccin-macchiato.toml
  roles/alacritty/files/catppuccin-mocha.toml
  roles/alacritty/handlers/main.yml
  roles/alacritty/meta/main.yml
  roles/alacritty/tasks/main.yml
  roles/alacritty/tasks/ubuntu.yml
  roles/bash/files/.bashrc
  roles/spotify/meta/main.yml
  roles/spotify/tasks/main.yml
  roles/spotify/tasks/ubuntu.yml
Labels: Role, Variables

Update SSH keys and add ed25519 keys
  group_vars/all.yml
  roles/bash/files/.bashrc
Labels: Role, Variables

Fix download destination in lazygit role
  roles/lazygit/tasks/ubuntu.yml
Labels: Role

Update tmux status line
  roles/tmux/files/.tmux.conf
Labels: Role

Add Regolith role
  roles/regolith/meta/main.yml
  roles/regolith/tasks/main.yml
  roles/regolith/tasks/ubuntu.yml
Labels: Role

(nvim): remove refactoring and treesitter-playground plugins
  roles/neovim/files/after/plugin/refactoring.lua
  roles/neovim/files/lua/edvin/packer.lua
Labels: Role

fix: udpate checkout action to v6
  .github/workflows/linting.yml
  .github/workflows/security.yml
Labels: Actions

chore: remove version pinning of yamllint and ruff
  .github/workflows/linting.yml
Labels: Actions

fix(nvim): lock treesitter to "master" branch
  roles/neovim/files/lua/edvin/packer.lua
Labels: Role

fix: correct linting errors in bootstrap script
  bin/dotfiles
Labels: Setup

.github/labeler.yml:

---
README:
  - changed-files:
      - any-glob-to-any-file: README.md

Role:
  - changed-files:
      - any-glob-to-any-file: roles/**

Requirements:
  - changed-files:
      - any-glob-to-any-file: requirements/**

License:
  - changed-files:
      - any-glob-to-any-file: LICENSE

Setup:
  - changed-files:
      - any-glob-to-any-file: bin/**

Variables:
  - changed-files:
      - any-glob-to-any-file: group_vars/**

Actions:
  - changed-files:
      - any-glob-to-any-file: .github/**
