Repository elidholm/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: README, Role, Requirements, License, Setup, Variables, Actions

.github/labeler.yml:

---
README:
  - changed-files:
      - any-glob-to-any-file: README.md

Role:
  - changed-files:
      - any-glob-to-any-file: roles/**

Requirements:
  - changed-files:
      - any-glob-to-any-file: requirements/**

License:
  - changed-files:
      - any-glob-to-any-file: LICENSE

Setup:
  - changed-files:
      - any-glob-to-any-file: bin/**

Variables:
  - changed-files:
      - any-glob-to-any-file: group_vars/**

Actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

feat: centralize dpkg architecture lookup
  main.yml
  pre_tasks/dpkg_arch.yml
  roles/docker/tasks/ubuntu.yml
  roles/github_cli/tasks/ubuntu.yml
  roles/regolith/tasks/ubuntu.yml
Labels: Role

chore(neofetch): remove unmaintained neofetch
  group_vars/all.yml
  roles/bash/files/bash/misc_aliases.sh
  roles/neofetch/files/config.conf
  roles/neofetch/meta/main.yml
  roles/neofetch/tasks/main.yml
  roles/neofetch/tasks/ubuntu.yml
Labels: Role, Variables

chore(git): clean up role
  roles/git/tasks/main.yml
Labels: Role

chore(lua): clean up role
  roles/lua/tasks/main.yml
  roles/lua/tasks/ubuntu.yml
Labels: Role

chore(logs): clean up role
  roles/logs/tasks/main.yml
Labels: Role

chore(lazygit): clean up role
  roles/lazygit/tasks/main.yml
Labels: Role

chore(npm): clean up role
  roles/npm/tasks/main.yml
Labels: Role

chore(tldr): remove role
  group_vars/all.yml
  roles/tldr/handlers/main.yml
  roles/tldr/meta/main.yml
  roles/tldr/tasks/main.yml
Labels: Role, Variables

feat(ci): include scanning of bash scripts
  .github/workflows/linting.yml
  .github/workflows/security.yml
Labels: Actions

chore(system): clean up role
  roles/system/tasks/ubuntu.yml
Labels: Role

feat(starship): update in every playbook run, not just new installations
  roles/starship/handlers/main.yml
  roles/starship/tasks/main.yml
Labels: Role

chore(nvm): clean up role
  roles/nvm/tasks/main.yml
Labels: Role

chore(neovim): update packages
  roles/neovim/files/nvim-pack-lock.json
Labels: Role

chore(bin): format bash script
  bin/dotfiles
Labels: Setup

feat(rust): migrate to rustup based installation
  roles/rust/handlers/main.yml
  roles/rust/tasks/main.yml
  roles/rust/tasks/ubuntu.yml
Labels: Role

chore(regolith): clean up role
  roles/regolith/tasks/ubuntu.yml
Labels: Role

chore(neovim): remove unused cleanup handler
  roles/neovim/handlers/main.yml
  roles/neovim/tasks/main.yml
  roles/neovim/tasks/ubuntu.yml
Labels: Role

chore(docs): Fix minor mistakes in README.md
  README.md
Labels: README

feat(skills): Add skill for bash script style guidelines
  roles/skills/files/bash-style-guide/SKILL.md
Labels: Role

refact(npm): fix errors in role and handlers
  roles/npm/handlers/main.yml
  roles/npm/tasks/main.yml
Labels: Role

fix(env): correct deprecated GREP_COLOR variable
  group_vars/all.yml
Labels: Variables

ci: remove semgrep action
  .github/workflows/security.yml
Labels: Actions

feat: add pi-hole api key to env
  group_vars/all.yml
  roles/neovim/files/nvim-pack-lock.json
Labels: Role, Variables

feat: use ruff as python formatter
  roles/neovim/files/lua/extra/plugins/conform.lua
  roles/neovim/files/nvim-pack-lock.json
Labels: Role

feat: add format-on-save for many languages
  .github/copilot-instructions.md
  roles/neovim/files/init.lua
  roles/neovim/files/lua/extra/plugins/conform.lua
  roles/neovim/files/nvim-pack-lock.json
  roles/neovim/meta/main.yml
  roles/neovim/tasks/main.yml
Labels: Role, Actions

fix: disable format-on-save for html/jinja2 files
  roles/neovim/files/lua/extra/plugins/conform.lua
Labels: Role

feat: add aliases for typos
  pre_tasks/dpkg_arch.yml
  pre_tasks/whoami.yml
  roles/bash/files/bash/typo_aliases.sh
  roles/bash/files/bash/typo_functions.sh
  roles/bash/tasks/main.yml
  roles/neovim/files/lua/extra/plugins/conform.lua
  roles/neovim/files/nvim-pack-lock.json
  roles/skills/files/apple-design/SKILL.md
  roles/system/tasks/main.yml
  roles/system/templates/hosts.j2
Labels: Role

feat: add new remaps
  roles/neovim/files/init.lua
  roles/neovim/files/lua/extra/config/mappings.lua
  roles/neovim/files/nvim-pack-lock.json
Labels: Role
